<!-- About section -->
    <section class="container about-page" id="about">
        <h1>Our Story & Passion</h1>
        <h3>Where Tradition Meets Creativity</h3>
        <div class="row">
            <div class="col-sm about-col">
                <p>
                    We create mehandi designs that blend tradition with modern trends, making every occasion special with elegance, charm, and creativity.
                </p>
            </div>
            <div class="col-sm about-col">
                <p>
                    With years of experience, we specialize in Indian, Arabic, and fusion styles, offering unique mehandi designs that perfectly suit weddings, festivals, and casual events.
                </p>
            </div>
            <div class="col-sm about-col">
                <p>
                    We believe mehandi symbolizes joy and blessings. Each stroke is applied with patience and love, turning your moments into stories of beauty and happiness.
                </p>
            </div>
        </div>
        <a type="button" class="hero-btn nav-btn" href="templates/about.html">About Us <i class="fa-solid fa-arrow-right"></i></a>
    </section>