<!-- About section -->
    <section class="container content-head">
        <h1>Our Story & Passion</h1>
        <h3>Where Tradition Meets Creativity</h3>
        <div class="row g-4">
            <div class="col-md about-col" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
                <div class="card">
                    <p>
                        We create mehandi designs that blend tradition with modern trends, making every occasion special with elegance, charm, and creativity.
                    </p>
                </div>
            </div>
            <div class="col-md about-col" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-delay="100">
                <div class="card">
                    <p>
                        With years of experience, we specialize in Indian, Arabic, and fusion styles, offering unique mehandi designs that perfectly suit weddings, festivals, and casual events.
                    </p>
                </div>
            </div>
            <div class="col-md about-col" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-delay="150">
                <div class="card">
                    <p>
                        We believe mehandi symbolizes joy and blessings. Each stroke is applied with patience and love, turning your moments into stories of beauty and happiness.
                    </p>
                </div>
            </div>
        </div>
    </section>