{% extends 'base_2.html' %}

{% block landing %}
    <section class="container-fluid secondary-hero">
        <h2 class="hero-head">About Us</h2>
    </section>
{% endblock landing %}
<!-- About page -->
{% block main_content %}
    <!-- About section -->
    <section class="container">
        <div class="row g-3">
            <div class="col-md-4 fade-up about-body">
                <div class="card">
                    <h2>Our Passion</h2>
                    <p>We see mehandi as more than art, it celebrates culture and individuality. Blending tradition with creativity, we design elegant patterns that make every occasion unforgettable.</p>
                </div>
            </div>
            <div class="col-md-4 fade-up about-body">
                <div class="card">
                    <h2>Our Expertise</h2>
                    <p>With 5 years of experience, we craft Indian, Arabic, and fusion mehandi styles. From bridal detail to minimal elegance, our expertise ensures unique designs for every occasion.</p>
                </div>
            </div>
            <div class="col-md-4 fade-up about-body">
                <div class="card">
                    <h2>Our Belief</h2>
                    <p>Mehandi symbolizes joy, blessings, and celebration. Each stroke is drawn with patience and love, turning hands into beautiful stories of happiness and tradition.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Why choose us -->
    <section class="container">
        <div class="row g-2">
            <div class="col-md-6 about-body my-auto why-choose">
                <h1>Why choose us?</h1>
            </div>
            <div class="col-md-6 why-choose">
                <p class="why-us fade-left">
                    <i class="fa-solid fa-leaf"></i> 100% Natural & Skin-Friendly Henna
                </p>
                <p class="why-us fade-left">
                    <i class="fa-solid fa-user-graduate"></i> Years of Professional Experience
                </p>
                <p class="why-us fade-left">
                    <i class="fa-solid fa-palette"></i> Wide Range of Styles (Indian, Arabic, Fusion, Minimal)</p>
                <p class="why-us fade-left">
                    <i class="fa-solid fa-hand-holding-heart"></i> Personalized & Custom Designs
                </p>
                <p class="why-us fade-left">
                    <i class="fa-regular fa-clock"></i> Hygienic, Reliable, and On-Time Service
                </p>
            </div>
        </div>
    </section>
    <!-- Our Commitment -->
    <section class="container">
        <div class="row g-3">
            <div class="col-12 about-body">
                <h1>Our Commitment</h1>
            </div>
            <div class="col-12 about-body">
                <p>A journey of mission, vision, and promise that reflects our dedication to art, culture, and client happiness.</p>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4 fade-up about-body">
                <div class="card">
                    <h2>Our Vision</h2>
                    <p>Be a leading mehandi brand, sharing henna's joy across cultures and making it a global expression of beauty and happiness.</p>
                </div>
            </div>
            <div class="col-md-4 fade-up about-body">
                <div class="card">
                    <h2>Our Promise</h2>
                    <p>Deliver more than designs—create joyful, caring experiences where every client feels valued and every design is crafted with love.</p>
                </div>
            </div>
            <div class="col-md-4 fade-up about-body">
                <div class="card">
                    <h2>Our Mission</h2>
                    <p>Celebrate mehandi's timeless beauty with elegant, customized designs that enhance occasions and make every client feel confident and special.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
