{% load static %}
<section class="container content-head" id="gallery">
    <h1>Gallery</h1>
    <h3>Browse Our Latest Mehandi Creations</h3>
    <div class="row g-4">
        <div class="col-md gallery-pics">
            <figure class="card">
                <img src="{% static 'images/gallery/HennaArt1.jpg' %}" alt="Henna Image" class="card-img">
            </figure>
        </div>
        <div class="col-md gallery-pics">
            <figure class="card">
                <img src="{% static 'images/gallery/HennaArt2.jpg' %}" alt="Henna Image" class="card-img">
            </figure>
        </div>
        <div class="col-md gallery-pics">
            <figure class="card">
                <img src="{% static 'images/gallery/HennaArt3.jpg' %}" alt="Henna Image" class="card-img">
            </figure>
        </div>
    </div>
</section>