*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}
p{
    font-size: clamp(.75rem,1.3vw,1rem);
}
.navbar{
    background-color: #12263A;
}
.navbar-nav{
    gap: 20px;
}
.navbar-nav .nav-link{
    color: #ff7700;
}
.navbar-nav a:focus-visible{
    box-shadow: none;
}
.navbar-nav .nav-link:hover{
    color: #fff;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ff7700;
}
/* About page content */
.secondary-hero{
    height: 50dvh;
    background-color: #ff983ede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-head{
    color: #12263A;
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 600;
}

.container-fluid .container{
    padding-top: 3rem;
}
.about-body h2,.about-body h1{
    color: #12263A;
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: clamp(1.2rem,3vw,2rem);
}
.about-body h1{
    margin: 0;
    font-size: clamp(1.5rem,4vw,3rem);
}
.about-body p{
    text-indent: 30px;
    text-align: justify;
}
.col-12.about-body p{
    font-style: italic;
    text-indent: 0;
    text-align: center;
    margin-bottom: 20px;
}
.about-body .card{
    background-color: #12263a44;
    color: #12263A;
    padding: 12px;
}
.why-us{
    margin-bottom: 20px;
}
.why-us:last-child{
    margin-bottom: 0;
}
.why-us i{
    font-size: clamp(1rem,2.1vw,1.3rem);
    margin-right: 8px;
}
.why-us .fa-leaf{
    color: green;
}
.why-us .fa-user-graduate{
    color:#12263A;
}
.why-us .fa-palette{
    color: rgb(247, 150, 6);
}
.why-us .fa-hand-holding-heart{
    color: rgb(218, 10, 10);
}
.why-us .fa-clock{
    color: rgb(7, 5, 121);
}
/* Service page content */
.service-tag p{
    text-align: center;
}
.table-header{
    background-color: #12263A;
    color: white;
}
table tr th, table tr td {
    font-size: clamp(.8rem,1.3vw,1rem);
}

.table tbody tr th {
    background-color: #12263a44 !important;
}
.table tbody tr:hover td {
    background-color: #12263a44 !important;
}

.btn-orange{
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff7700;
    --bs-btn-border-color: #ff7700;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ec7004;
    --bs-btn-hover-border-color: #d16302;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d16302;
    --bs-btn-active-border-color: #be5b03;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff7700;
    --bs-btn-disabled-border-color: #ff7700;
}
.book-now{
    margin-top: 30px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.hero-btn{
    padding: 10px 40px;
    outline: none;
    border-radius: 0;
    font-weight: 700;
}

/* Gallery page */
.gallery-pics{
    display: flex;
    align-items: center;
    justify-content: center;
}
figure{
    margin: 0;
}
.card{
    border: none;
}
.card .card-img{
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.card .card-img:hover{
    scale: 1.03;
}

/* Footer */
footer{
    color: white;
    background-color: #12263A;
    padding: 12px !important;
    margin-top: 5%;
}
.copyrights{
    padding: 16px 0px;
    color: white;
    text-align: center;
}
.copyrights p{
    margin: 0;
}

@media (max-width:568px) {
    .secondary-hero{
        height: 30dvh;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-nav{
        position: absolute;
        left: -100%;
        top: 48px;
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #12263A;
        width: 60%;
        height: calc(100vh - 48px);
        text-align: center;
        transition: 0.5s linear;
        border-top: 1px solid #12263a8a;
        z-index: 1;
    }
    .navbar-nav.active{
        left: 0;
    }
    .about-body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-body .card{
        width: 90%;
    }
    .why-choose{
        padding: 0 5%;
    }
}
