*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}
.navbar{
    padding: 4px 0;
}
.navbar-nav{
    gap: 20px;
}
.navbar-nav .nav-link{
    color: #fff;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ff7700;
}
@media (max-width:568px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-nav{
        position: absolute;
        left: -100%;
        top: 48px;
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #12263A;
        width: 60%;
        height: calc(100vh - 48px);
        text-align: center;
        transition: 0.5s linear;
        border-top: 1px solid #12263a8a;
        z-index: 1;
    }
    .navbar-nav.active{
        left: 0;
    }
     
}